1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
ciudades = ['Ciudad de México', 'Londres', 'Santiago', 'Buenos Aires', 'Los Angeles', 'Bogota']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(ciudades[1])

Londres

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(ciudades[1:4])

['Londres', 'Santiago', 'Buenos Aires']

4) Visualizar el tipo de dato de la lista

In [4]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [6]:
print(ciudades[2:])

['Santiago', 'Buenos Aires', 'Los Angeles', 'Bogota']

6) Visualizar los primeros 4 elementos de la lista

In [7]:
print(ciudades[:4])

['Ciudad de México', 'Londres', 'Santiago', 'Buenos Aires']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [17]:
ciudades.append('Londres')
ciudades.append('Quito')
print(ciudades)
print('No arroja ningun error, solo duplica el elemento')

['Ciudad de México', 'Londres', 'Santiago', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles', 'Bogota', 'Londres', 'Quito', 'Londres', 'Quito', 'Londres', 'Quito', 'azul', 'rojo', 'verde', 'Londres', 'Quito']
No arroja ningun error, solo duplica el elemento

8) Agregar otra ciudad, pero en la cuarta posición

In [13]:
ciudades.insert(3,'Tokio' )
print(ciudades)

['Ciudad de México', 'Londres', 'Santiago', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles', 'Bogota', 'Londres', 'Quito', 'Londres', 'Quito', 'Londres', 'Quito']

9) Concatenar otra lista a la ya creada

In [15]:
colores = ['azul', 'rojo', 'verde']
ciudades.extend(colores)
print(ciudades)

['Ciudad de México', 'Londres', 'Santiago', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles', 'Bogota', 'Londres', 'Quito', 'Londres', 'Quito', 'Londres', 'Quito', 'azul', 'rojo', 'verde']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [19]:
print(ciudades.index('Quito'))

10

11) ¿Qué pasa si se busca un elemento que no existe?

In [21]:
print(ciudades[20])

IndexError: list index out of range

12) Eliminar un elemento de la lista

In [24]:
ciudades.remove('Santiago')
print(ciudades)

['Ciudad de México', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles', 'Bogota', 'Quito', 'Londres', 'Quito', 'Londres', 'Quito', 'azul', 'rojo', 'verde', 'Londres', 'Quito']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [25]:
ciudades.remove('Nigata')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [26]:
ultimo = ciudades.pop()
print(ultimo)

Quito

15) Mostrar la lista multiplicada por 4

In [27]:
print(ciudades * 4)

['Ciudad de México', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles', 'Bogota', 'Quito', 'Londres', 'Quito', 'Londres', 'Quito', 'azul', 'rojo', 'verde', 'Londres', 'Ciudad de México', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles', 'Bogota', 'Quito', 'Londres', 'Quito', 'Londres', 'Quito', 'azul', 'rojo', 'verde', 'Londres', 'Ciudad de México', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles', 'Bogota', 'Quito', 'Londres', 'Quito', 'Londres', 'Quito', 'azul', 'rojo', 'verde', 'Londres', 'Ciudad de México', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles', 'Bogota', 'Quito', 'Londres', 'Quito', 'Londres', 'Quito', 'azul', 'rojo', 'verde', 'Londres']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [28]:
numeros = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(numeros)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [30]:
print(numeros[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [33]:
print(20 in numeros)
print(30 in numeros)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [35]:
print(ciudades.count('Londres'))
print(numeros.count(17))

3
1

21) Convertir la tupla en una lista

In [36]:
numeros_lista=list(numeros)
print(type(numeros_lista))

<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [38]:
uno, dos, tres = numeros
print('Uno', uno, '- Dos', dos, '- Tres', tres)

ValueError: not enough values to unpack (expected 3, got 2)

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [45]:
ubicaciones = {
    'ciudad1': ciudades[0],
    'ciudad2': ciudades[1],
    'ciudad3': ciudades[2],
    'ciudad4': ciudades[3],
    'ciudad5': ciudades[4],
    'ciudad6': ciudades[5],
}

24) Imprimir las claves del diccionario

In [46]:
print(ubicaciones.keys())

dict_keys(['ciudad1', 'ciudad2', 'ciudad3', 'ciudad4', 'ciudad5', 'ciudad6'])

25) Imprimir las ciudades a través de su clave

In [47]:
print(ubicaciones.values())

dict_values(['Ciudad de México', 'Tokio', 'Tokio', 'Buenos Aires', 'Tokio', 'Los Angeles'])