1. Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
my_num = 5
print(my_num)

5

2. Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3. Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(my_num))

<class 'int'>

4. Crear una variable que contenga tu nombre

In [6]:
my_nombre = 'Jorge'

5. Crear una variable que contenga un número complejo

In [5]:
my_complejo = 5 + 9j

6. Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
print(type(my_complejo))

<class 'complex'>

7. Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [1]:
my_pi = 3.1416

8. Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
my_booleanofalso = 'True'
my_booleanoverdadero = True
print(type(my_booleanofalso))
print(type(my_booleanoverdadero))
print("No es lo mismo, ya que 'True' se trata de una cadena de texto, mientras que True es un valor booleano veradero" )

<class 'str'>
<class 'bool'>
No es lo mismo, ya que 'True' se trata de una cadena de texto, mientras que True es un valor booleano veradero

9. Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [10]:
print(type(my_booleanofalso))
print(type(my_booleanoverdadero))

<class 'str'>
<class 'bool'>

10. Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
my_suma = 5 + 3.5
print(my_suma)

8.5

11. Realizar una operación de suma de números complejos

In [13]:
op_complejos = 5j + 3j
print(op_complejos)

8j

12. Realizar una operación de suma de un número real y otro complejo

In [14]:
op_complejos2 = 5 + 3j
print(op_complejos2)

(5+3j)

13. Realizar una operación de multiplicación

In [15]:
my_producto = 8*9
print(my_producto)

72

14. Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
print(2**8)

256

15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
cociente = 27/4
print(cociente)

6.75

16. De la división anterior solamente mostrar la parte entera

In [21]:
cociente_entero = 27//4
print(cociente_entero)

6

17. De la división de 27 entre 4 mostrar solamente el resto

In [23]:
resto = 27%4
print(resto)

3

18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
total = (4 * cociente_entero) + resto
print(total)

27

19. Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [3]:
var1 = 'Ciudad de '
var2 = 'Mexico'
print(var1 + var2)

Ciudad de Mexico

20. Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
verificador = '2' == 2
print(verificador)
print('Esto ocurre porque son diferentes tipos de datos')

False
Esto ocurre porque son diferentes tipos de datos

21. Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
verificador = int('2') == 2
print(verificador)

True

22. ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [29]:
print('Por que se esta utilizando coma en lugar de punto para determinar los decimales')

Por que se esta utilizando coma en lugar de punto para determinar los decimales

23. Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [30]:
tres = 3
tres-=2
print(tres)

1

24. Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [4]:
print(1 << 2)
print('Es una operación binaria en donde se recorren el número de posiciones en la direccion indicada por las flechas (isquierda << o derecha >>) agregando 0 en el sistema binario. En el ejercicio, equivale a 100 binario que es igual a 4 en el sistema decimal')

4
Es una operación binaria en donde se recorren el número de posiciones en la direccion indicada por las flechas (isquierda << o derecha >>) agregando 0 en el sistema binario. En el ejercicio, equivale a 100 binario que es igual a 4 en el sistema decimal

25. Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [34]:
print('Si se suman dos valores tipo string, se concatenaran, si se suman dos numeros enteros, se realiza la operación aritmética pero si se utilizan dos valores de tipo diferente genera un error de tipo')
print(2 + '2')

Si se suman dos valores tipo string, se concatenaran, si se suman dos numeros enteros, se realiza la operación aritmética pero si se utilizan dos valores de tipo diferente genera un error de tipo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26. Realizar una operación válida entre valores de tipo entero y string

In [36]:
repetidor = 'Hola Mundo ' * 3
print(repetidor)

Hola Mundo Hola Mundo Hola Mundo